openapi: 3.2.0
info:
  title: 4TU.ResearchData Reference API
  version: v2+v3
  summary: Public read API for the 4TU.ResearchData repository operated by TU Delft Library.
  description: 'Public, unauthenticated read interface to the 4TU.ResearchData repository at https://data.4tu.nl, the science/engineering/design research data repository of the 4TU.Federation. The service runs on `djehuty`, open-source repository software written by 4TU.ResearchData and Nikhef — it is NOT a Figshare, Elsevier Pure, Dataverse or DSpace tenancy. The `/v2` surface is deliberately backward compatible with the Figshare v2 API shape (differences: `uuid` supersedes `id`, and usage errors return precise HTTP codes rather than always 400); `/v3` is djehuty''s own surface. Endpoints under `/v2/account/` and parts of `/v3` require a personal API token.

    OPERATOR NOTE: data.4tu.nl resolves to 131.180.169.22, inside the RIPE `DUNET` inetnum registered to Technische Universiteit Delft, and re3data records TU Delft Library as the hosting institution for the 4TU.Federation consortium (with TU Eindhoven, University of Twente and Wageningen University as the other partners). It is therefore institution-operated infrastructure that is co-owned by a four-university consortium, not a vendor platform.'
  contact:
    name: 4TU.ResearchData
    email: researchdata@4tu.nl
    url: https://data.4tu.nl/info/about-4turesearchdata/contact
  license:
    name: EUPL-1.2 (djehuty software)
    url: https://github.com/4TUResearchData/djehuty/blob/main/LICENSE
  termsOfService: https://data.4tu.nl/info/about-4turesearchdata/policies-guidelines
servers:
- url: https://data.4tu.nl
  description: 4TU.ResearchData production (TU Delft Library operated)
tags:
- name: Reference
  description: Controlled vocabularies — licenses, categories and depositing groups.
paths:
  /v2/licenses:
    get:
      tags:
      - Reference
      operationId: listLicenses
      summary: List the licenses a depositor may apply
      responses:
        '200':
          description: Licenses offered for data and for software deposits.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/License'
  /v2/categories:
    get:
      tags:
      - Reference
      operationId: listCategories
      summary: List the subject category taxonomy
      responses:
        '200':
          description: The hierarchical subject taxonomy, with parent UUIDs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
  /v3/groups:
    get:
      tags:
      - Reference
      operationId: listGroups
      summary: List the depositing institutions
      description: The consortium partners a dataset can be associated with. Delft University of Technology appears here as one group among the 4TU partners — direct evidence that this repository is a consortium surface, not a single-institution one.
      responses:
        '200':
          description: Institutional groups with their domain association.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
components:
  schemas:
    License:
      type: object
      properties:
        value:
          type: integer
        name:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
          enum:
          - data
          - software
    Category:
      type: object
      properties:
        id:
          type: integer
        uuid:
          type: string
          format: uuid
        title:
          type: string
        parent_id:
          type:
          - integer
          - 'null'
        parent_uuid:
          type:
          - string
          - 'null'
        path:
          type: string
        source_id:
          type:
          - integer
          - 'null'
        taxonomy_id:
          type:
          - integer
          - 'null'
    Group:
      type: object
      properties:
        id:
          type: integer
        parent_id:
          type:
          - integer
          - 'null'
        name:
          type: string
        association:
          type: string
          description: The partner institution domain, e.g. tudelft.nl.
        is_featured:
          type: boolean
  securitySchemes:
    tokenAuth:
      type: http
      scheme: token
      description: '`Authorization: token YOUR_TOKEN_HERE`. Tokens are issued from the depositor dashboard after logging in; there is no OAuth 2.0 flow and no published scope vocabulary.'
x-artifact:
  generated: '2026-08-19'
  method: derived
  source: Derived from live unauthenticated probes of https://data.4tu.nl on 2026-08-19 (every path, parameter, status code and field name in this document was observed in a real response), cross-read against the djehuty API documentation at https://raw.githubusercontent.com/4TUResearchData/djehuty/main/docs/api.md and https://djehuty.4tu.nl/. 4TU.ResearchData publishes no OpenAPI of its own; the djehuty repository tree contains no openapi/swagger file (checked via the GitHub trees API, 575 entries). This is API Evangelist's derivation, not a 4TU artifact.
  x-operator: institution
  x-operator-evidence: data.4tu.nl -> 131.180.169.22, RIPE inetnum 131.180.0.0/16 netname DUNET, org-name "Technische Universiteit Delft". re3data r3d100010216 lists TU Delft Library as a hosting institution alongside the 4TU.Federation.
