openapi: 3.2.0
info:
  title: 4TU.ResearchData Account API
  version: v2+v3
  summary: Public read API for the 4TU.ResearchData repository operated by TU Delft Library.
  description: Public, unauthenticated read interface to the 4TU.ResearchData repository at https://data.4tu.nl, the science/engineering/design research data repository of the 4TU.Federation.
  contact:
    name: 4TU.ResearchData
    email: researchdata@4tu.nl
    url: https://data.4tu.nl/info/about-4turesearchdata/contact
  license:
    name: EUPL-1.2 (djehuty software)
    url: https://github.com/4TUResearchData/djehuty/blob/main/LICENSE
  termsOfService: https://data.4tu.nl/info/about-4turesearchdata/policies-guidelines
servers:
- url: https://data.4tu.nl
  description: 4TU.ResearchData production (TU Delft Library operated)
tags:
- name: Account
  description: Token-authenticated endpoints scoped to a depositor account.
paths:
  /v2/account/articles:
    get:
      tags:
      - Account
      operationId: listAccountArticles
      summary: List the authenticated depositor's datasets
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Datasets owned by the token holder.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetSummary'
        '403':
          $ref: '#/components/responses/InvalidSessionToken'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    DatasetSummary:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          description: Legacy Figshare numeric id; null on djehuty-native records.
        uuid:
          type: string
          format: uuid
        title:
          type: string
        doi:
          type: string
          description: DataCite DOI under the 10.4121 prefix.
        handle:
          type:
          - string
          - 'null'
        url:
          type: string
          format: uri
        published_date:
          type:
          - string
          - 'null'
        thumb:
          type:
          - string
          - 'null'
        defined_type:
          type:
          - integer
          - 'null'
        defined_type_name:
          type:
          - string
          - 'null'
        group_id:
          type:
          - integer
          - 'null'
        url_private_api:
          type: string
          format: uri
        url_public_api:
          type: string
          format: uri
        url_private_html:
          type: string
          format: uri
        url_public_html:
          type: string
          format: uri
        timeline:
          type: object
        resource_title:
          type:
          - string
          - 'null'
        resource_doi:
          type:
          - string
          - 'null'
  responses:
    InvalidSessionToken:
      description: No token, or an unrecognised token, was supplied.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalidToken:
              value:
                message: Invalid or unknown session token
                code: InvalidSessionToken
  securitySchemes:
    tokenAuth:
      type: http
      scheme: token
      description: '`Authorization: token YOUR_TOKEN_HERE`. Tokens are issued from the depositor dashboard after logging in; there is no OAuth 2.0 flow and no published scope vocabulary.'
x-artifact:
  generated: '2026-08-19'
  method: derived
  source: Derived from live unauthenticated probes of https://data.4tu.nl on 2026-08-19 (every path, parameter, status code and field name in this document was observed in a real response), cross-read against the djehuty API documentation at https://raw.githubusercontent.com/4TUResearchData/djehuty/main/docs/api.md and https://djehuty.4tu.nl/. 4TU.ResearchData publishes no OpenAPI of its own; the djehuty repository tree contains no openapi/swagger file (checked via the GitHub trees API, 575 entries). This is API Evangelist's derivation, not a 4TU artifact.
  x-operator: institution
  x-operator-evidence: data.4tu.nl -> 131.180.169.22, RIPE inetnum 131.180.0.0/16 netname DUNET, org-name "Technische Universiteit Delft". re3data r3d100010216 lists TU Delft Library as a hosting institution alongside the 4TU.Federation.
